$supportive0: #ffffff;
$supportive50: #f8fafa;
$supportive100: #f1f4f5;
$supportive200: #e7eaec;
$supportive300: #dadde0;
$supportive400: #b6babe;
$supportive500: #7d8183;
$supportive600: #4e5052;
$supportive700: #393b3d;
$supportive800: #1b1c1d;
$supportive900: #0b0b0c;

$primary50: #dff3ec;
$primary100: #b0e2cf;
$primary200: #7dcfb0;
$primary300: #3ecda4;
$primary400: #02ac7c;
$primary500: #009d68;
$primary600: #008f5c;
$primary700: #007f4e;
$primary800: #006f40;
$primary900: #005326;

$grey50: #f0f0f0;
$grey100: #d9d9d9;
$grey200: #bfbfbf;
$grey300: #a5a5a5;
$grey400: #929292;
$grey500: #7f7f7f;
$grey600: #777777;
$grey700: #6c6c6c;
$grey800: #626262;
$grey900: #4f4f4f;

$alert50: #feecee;
$alert100: #fdced3;
$alert200: #ec9c9d;
$alert300: #e27777;
$alert400: #ec5955;
$alert500: #f14b3d;
$alert600: #e2423b;
$alert700: #d03835;
$alert800: #c3322e;
$alert900: #b32923;
