.table-toolbar {
  width: 100%;
  display: flex;
  align-self: flex-start;
  min-height: 50px;
  margin-bottom: 16px;

  .mat-icon {
    font-size: 20px;
    height: 20px;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
}

.table-toolbar__right {
  display: flex;
  justify-content: flex-end;
  align-self: flex-start;
  flex-grow: 1;
}
