registry=https://greensill-docker.jfrog.io/artifactory/api/npm/npm/
'//greensill-docker.jfrog.io/artifactory/api/npm/npm/:_password'='QVA1d2oxRmRtMjdCR2Vzcw=='
'//greensill-docker.jfrog.io/artifactory/api/npm/npm/:username'='ci'
'//greensill-docker.jfrog.io/artifactory/api/npm/npm/:email'='ci@greensill.com'
'//greensill-docker.jfrog.io/artifactory/api/npm/npm/:always-auth'=true
