.view-contract__header {
  display: flex;
  justify-content: space-between;
}

button {
  margin-right: 10px;
}

.view-contract__details {
  margin: 0 10px 0 -24px;
  min-height: 600px;
}

.view-contract__portal-header {
  margin: 24px 0;
  display: flex;
  justify-content: space-between;

  h2 {
    margin: 0;
  }
}
.readonly {
  pointer-events: none;
}
