.action-button {
  padding: 10px 10px 10px 0px;
}

.verdi-data-style {
  background-color: #dff3ec;
}

.match-entities {
  td {
    vertical-align: top;
  }

  .mat-stroked-button {
    background: white;
  }

  .mat-header-cell {
    padding: 12px;
  }

  .mat-cell {
    padding: 12px;
  }
}
