.side-drawer {
  min-width: 420px;
  padding-left: 20px;
  padding-right: 20px;
}

.mandatory-icon {
  vertical-align: middle;
  padding-bottom: 3px;
  padding-right: 10px;
}

.delete-button {
  vertical-align: middle;
  padding-bottom: 3px;
  padding-right: 10px;
  cursor: pointer;
}

.list-item-name {
  min-width: 300px;
}

.list-item-info {
  min-width: 50px;
}
