.reject {
  width: 96px;
  height: 36px;
  background-color: rgba(241, 75, 61, 0);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(195, 50, 46, 1);
  border-radius: 5px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  color: #c3322e;
  &:hover {
    background-color: rgba(254, 236, 238, 1);
  }
}

.exception-container {
  padding: 20px;

  &__status {
    padding-bottom: 20px;
  }
  &__createdDateTime {
    padding-bottom: 20px;
  }
  &__description {
    padding-bottom: 20px;
  }
  &__divider {
    padding-bottom: 20px;
  }
  &__release {
    margin-right: 20px;
  }
  &__reject {
    margin-right: 20px;
  }

  &__override {
    margin-right: 20px;
  }
  &__cancel {
    margin-right: 20px;
  }
  &__confirm {
    margin-right: 20px;
  }
}
