<gds-data-table
  (bulkActionSelection)="onBulkActionSelection($event)"
  (columnSort)="sort($event)"
  (groupActionEvent)="onGroupActionEvent($event)"
  (paginationChange)="getTasks($event)"
  (performSearch)="onSearch($event)"
  (rowClick)="openSideBar($event)"
  [bulkActionButtons]="bulkActionButtons"
  [columns]="columns"
  [defaultSorts]="defaultSorts"
  [enableSearchTextHighlight]="false"
  [groupedColumnProps]="groupedColumnProps"
  [paginationMeta]="paginationMeta"
  [rows]="rows"
  [showExportButton]="false"
  [showGroupingOption]="true"
  [showRowSelect]="showRowSelect"
  [showSearch]="true"
  [taskGroupId]="taskGroupId"
></gds-data-table>
